.login-page {
    display: flex;
    flex-direction: column;    /* Optional: ensures the Navbar is placed at the top */
    justify-content: center;   /* Centers login-section vertically */
    align-items: center;       /* Centers login-section horizontally */
    height: 100vh;             /* Full viewport height */
}

.login-section {
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #213555;
    text-align: center;
    justify-content: center;
    color: #D8C4B6;
    width: 40%;
    height: 60%;
    padding: 10px;
}

.login-form-header {
    display: block;
    text-align: center;
}

.login-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.login-form-body label {
    width: 100%;
    text-align: left; 
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.login-form-body input {
    padding: 10px 10px 10px 40px;
    font-size: 15px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #D8C4B6;
    background-color: transparent;
    color: white;
}

.login-form-body button {
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #D8C4B6;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.login-form-footer a {
    color: #3E5879;
}

.input-container {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.input-container .icon {
    position: absolute;
    left: 10px;                 /* Position the icon inside the input on the left */
    top: 50%;                    /* Center the icon vertically */
    transform: translateY(-50%); /* Adjust vertical positioning */
    width: 20px;                 /* Adjust the size of the icon */
    height: 20px;                /* Adjust the size of the icon */
    fill: #D8C4B6;                 /* Set the icon color */
  }
  
