.contacts {
    width: 25%;
    display: block;
    padding: 10px;
    border-right: 1px solid white;
}

.all-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    color: #D8C4B6;
}

.all-contacts .create-group-btn{
    border: 2px solid #D8C4B6;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #D8C4B6;
    font-weight: bold;
    cursor: pointer;
}

.all-contacts .create-group-btn:hover {
    background-color: #D8C4B6;
    color: #213555;
}


.contacts .contact {
    display: flex;
    margin: 10px;
    gap: 5px;
    padding: 15px;
    border-radius: 10px;
    background-color: #D8C4B6;
    cursor: pointer;
}




.contact-image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.contact-name {
    display: block;
    align-content: center;
    color: #213555;;
    cursor: pointer;
}