.chat {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    height: 100vh;
    overflow: hidden;
}

.chat .chat-title {
    display: flex;
    gap: 10px;
    margin: 15px;
}

.chat-title .contact-image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat-title .contact-name {
    display: block;
    align-content: center;
    color: #D8C4B6;
    cursor: pointer;
}

.chat .chat-messages {
    display: block;
    overflow-y: auto;
    flex-grow: 1;
}

.chat .chat-messages::-webkit-scrollbar {
    width: 5px;
  }
  
  
.chat .chat-messages::-webkit-scrollbar-thumb {
    background-color: #D8C4B6;
    border-radius: 100px;
  }

.chat .chat-messages .sender {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    margin: 10px;
}

.chat .chat-messages .sender .sender-image img{
    width: 50px;                           /* Set a fixed size for the icon */
    height: 50px;
    border-radius: 50%;  
}


.chat .chat-messages .sender .sender-message {
    padding: 10px;                            /* Adds padding inside the div */
    border-top-left-radius: 10px;             /* Rounded top-left corner */
    border-top-right-radius: 10px;            /* Rounded top-right corner */
    border-bottom-left-radius: 10px;         /* Rounded bottom-left corner */
    max-width: 40%;                           /* Makes the div take up 50% width of the parent container */
    overflow-wrap: break-word;                /* Ensures long words break and wrap to the next line */
    white-space: initial;
    word-break: break-all;                      /* Makes sure text wraps at word boundaries */
    color: #213555;                           /* Sets the text color */
    background-color: #D8C4B6;                /* Sets background color */
    font-size: 15px;
    font-weight: 400;
}


.chat .chat-messages .sender .sender-message img{
  max-width: 100%;                       /* Ensure the image scales within the container */
  height: auto;                          /* Maintain aspect ratio */                 /* Ensures the image fits well inside the container */
  border-radius: 10px;             
}

.chat .chat-messages .reciever {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
}

.chat .chat-messages .reciever .reciever-image {
    width: 50px;
    height: 50px;
}

.chat .chat-messages .reciever .reciever-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.chat .chat-messages .reciever .reciever-message{
    padding: 10px;                            /* Adds padding inside the div */
    border-top-left-radius: 20px;             /* Rounded top-left corner */
    border-top-right-radius: 20px;            /* Rounded top-right corner */
    border-bottom-right-radius: 20px;         /* Rounded bottom-left corner */               
    max-width: 40%;                           /* Makes the div take up 50% width of the parent container */
    overflow-wrap: break-word;  
    word-break: break-all;              /* Ensures long words break and wrap to the next line */
    white-space: initial;                      /* Makes sure text wraps at word boundaries */
    color: #F5EFE7;                           /* Sets the text color */
    background-color: #3E5879;                /* Sets background color */
    font-size: 15px;
    font-weight: 400;
}

.chat .chat-messages .reciever .reciever-message img{
    max-width: 100%;                       /* Ensure the image scales within the container */
    height: auto;                          /* Maintain aspect ratio */                 /* Ensures the image fits well inside the container */
    border-radius: 10px;                  /* Sets the background color to black */  
}


.chat .image-preview {
   padding: 10px;
   display: flex;
}

.chat .image-preview .image {
    position: relative;
    max-width: 350px;
}

.chat .image-preview .image img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.chat .image-preview .image svg{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    top: 0;
}

.chat .send-message {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; /* Center the input within the div */
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    color: #D8C4B6;
}

.chat .send-message input::placeholder {
    color: white;
}

.chat .send-message input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #D8C4B6;
    font-size: 20px;
    color: white;
    padding: 10px;
}

