.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3E5879;
    width: 5%;
    height: 100vh;
    padding: 10px;
}

.navbar .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D8C4B6;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #213555;
}

.navbar .links ul{
    list-style-type: none;
}

.navbar .links ul li {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D8C4B6;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #213555;
}

