.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #3E5879;
    padding: 10px;
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #D8C4B6;
}

.navbar .links {
    align-content: center;
}

.navbar .links ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar .links ul li {
    display: flex;
    border-radius: 10px;
    color: #D8C4B6;
    font-size: 20px;
    gap: 5px;
    font-weight: bold;
    align-items: center;
}


