.home {
    display: flex;
    height: 100vh;
    width: 100%;
}


.chatter {
    display: flex;
  flex-grow: 1; /* This makes it take the remaining space */
  flex-direction: column;
}

.chat-and-contacts {
    flex-grow: 1;
    background-color: #213555;
    display: flex;
}



